html {
    overflow-x: hidden;
}

:root{
    --color-1: #EA5838;
    --color-2: #606060;
    --color-3: #000000;
    --color-4: #FFFFFF;
}

* {
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-2);
    font-family: 'Inter', sans-serif;
}

p, .small-text{
    line-height: normal;
    font-style: normal;
}

p{
    font-size: 20px;
    font-weight: 500;
}

.highlight{
    color: var(--color-1);
}

.small-text{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.815);
    font-weight: 400;
}

h1{
    font-weight: 700;
    font-size: 70px;
    color: white;
}

h2{
    font-weight: 700;
    font-size: 35px;
}

h3{
    font-weight: 500;
    font-size: 25px;
    color: white;
}

/* .container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
} */

.container{
    display: flex;
    flex-direction: column;
    row-gap: 55px;
}

section{
    padding: 0 150px;
    display: flex;
    scroll-snap-align: start;
}

/* FOR ONE */
.one{
    height: 100vh;
    padding: 0;
    align-items: center;
    background-color: black;
}

.my-image{
    position: absolute;
    left: 10px;
    bottom: 9vh;
}

.text-container-column, .text-container-row{
    display: flex;
}

.text-container-column{
    flex-direction: column;
}

.text-container-row{
    flex-direction: row;
}

.introductory-container{
    width: 40%; 
    margin-left: 40%;
    margin-bottom: 15%;
    position: static; 
    z-index: 1;
}

/* FOR TWO */
.section-heading{
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 80px;
    color: var(--color-3);
}

.sub-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h4{
    color: #4F4F4F;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* FOR THREE */
.education{
    display: flex;
    flex-direction: row;
    gap: 27px;
    align-items: center;
}

.hat{
    width: 7%;
}

.years{
    display: flex;
    flex-direction: row;
    gap: 10%;
}

h5{
    color: #B3B3B3;
    font-family: Inter;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.box-container{
    display: flex;
    flex-direction: column;
    gap: 23px;
    border-radius: 12px;
    background-color: var(--color-4);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.11);
    padding: 15px 20px;
    transition: background-color 0.3s cubic-bezier(.19,.32,.58,.97), box-shadow 0.3s cubic-bezier(.19,.32,.58,.97);
    cursor: pointer;
}

.box-container-no-click{
    display: flex;
    gap: 23px;
    border-radius: 12px;
    background-color: var(--color-4);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.11);
    padding: 15px 20px;
}

/* FOR FOUR */
h6{
    font-size: 200px;
    font-family: 'Noto Serif Display', serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.quote{
    color: black;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.author{
    font-size: 12px;
    font-family: 'Noto Serif', serif;
}

.label{
    color: #000;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.extras{
    display: flex;
    flex-direction: column;
    width: 43%;
    gap: 40px;
}

/* FOR FIVE */

.five{
    height: 50vh;
}

.hiddenFont{
    display: none;
    color: white;
    font-size: 15px;
}

.instagram{
    background-image: linear-gradient(90deg, #ffffff, #ffffff);
    transition: color 0.3s cubic-bezier(.19,.32,.58,.97), background-image 0.3s cubic-bezier(.19,.32,.58,.97);
}

/* CURRENT WORK SECTION */
.instagram:hover{
    background-image: linear-gradient(90deg, #00dbde, #fc00ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.linkedin{
    transition: color 0.3s cubic-bezier(.19,.32,.58,.97);
}

.linkedin:hover{
    color: rgb(63, 105, 154);
}

/* Responsiveness  */

/* @media only screen and (max-width: 1689px) {
    .years{
        gap: 5%;
    }
}

@media only screen and (max-width: 1630px) {
    .year2021{
        font-size: 80px;
    }
    .year2022{
        font-size: 80px;
    }
}

@media only screen and (max-width: 1510px) {
    .year2021{
        font-size: 70px;
    }
    .year2022{
        font-size: 70px;
    }
} */