html {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
} */

section{
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
}

.one{
    align-items: end;
    background-color: black;
}

.my-image{
    position: absolute;
    left: 7%;
    bottom: 6%;
}

.text-container{
    width: 40%;
    margin-left: 40%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    position: static;
    z-index: 1;
}

.heading{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 70px;
    color: white;
}

.sub-heading{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: white;
}

.paragraph-container{
    gap: 20px;
    width: 100%;
    padding-top: 10%;
    display: inherit;
    flex-direction: row;
}

.small-text{
    color: rgba(255, 255, 255, 0.815);
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 12px;
}