html {
    overflow-x: hidden;
}

:root{
    --color-1: #EA5838;
    --color-2: #606060;
    --color-3: #000000;
    --color-4: #FFFFFF;
    --color-5: #F3F3F3;
}

* {
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-2);
    font-family: 'Inter', sans-serif;
}

p, .small-text{
    line-height: normal;
    font-style: normal;
}

p{
    font-size: 20px;
    font-weight: 500;
}

.highlight{
    color: var(--color-1);
}

.small-text{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.815);
    font-weight: 400;
}

h1{
    font-weight: 700;
    font-size: 70px;
    color: white;
}

h2{
    font-weight: 700;
    font-size: 35px;
}

h3{
    font-weight: 500;
    font-size: 25px;
    color: white;
}

h4{
    color: #4F4F4F;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h5{
    color: #B3B3B3;
    font-family: Inter;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h6{
    font-size: 200px;
    font-family: 'Noto Serif Display', serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sub-heading{
    font-weight: 700;
    font-size: 25px;
    color: #606060;
}

/* .container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
} */

.container{
    display: flex;
    flex-direction: column;
    row-gap: 55px;
}

section{
    margin: 75px 0;
    padding: 0 150px;
    display: flex;
    scroll-snap-align: start;
}

/* FOR ONE */
.one{
    padding: 150px;
    align-items: center;
    background-color: black;
}

.my-image{
    left: 120px;
    position: absolute;
    top: 1px;
    height: 77%;
}

.text-container-column, .text-container-row{
    display: flex;
}

.gapped{
    gap: 20px;
}

.text-container-column{
    flex-direction: column;
}

/* CONSIDER USING LATER WHEN NEEDED */
/* .center-justified{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.text-container-row{
    flex-direction: row;
}

.introductory-container{
    background-color: rgba(27, 27, 27, 0.454);
    width: 700px;
    display: flex;
    padding: 25px;
    border-radius: 20px;
    z-index: 1;
}

/* FOR TWO */
.section-heading{
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 80px;
    color: var(--color-3);
}

.sub-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* FOR THREE */
.hat{
    width: 7%;
}

.full-width{
    gap: 32px;
    width: 100%;
}

.box-container, .display-board{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.box-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 23px;
    background-color: var(--color-5);
    padding: 15px 20px;
    transition: background-color 0.3s cubic-bezier(.19,.32,.58,.97), box-shadow 0.3s cubic-bezier(.19,.32,.58,.97);
    cursor: pointer;
}

.box-container-no-click{
    display: flex;
    gap: 23px;
    border-radius: 12px;
    background-color: var(--color-4);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.11);
    padding: 15px 20px;
}

.squished{
    align-items: center;
    justify-content: center;
}

.display-board{
    padding: 50px 50px;
    border: solid #E9E9E9 5px;
}

.display-board p{
    font-weight: bold;
    font-size: 30px;
}

/* FOR FOUR */
.quote{
    color: black;
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.author{
    font-size: 12px;
    font-family: 'Noto Serif', serif;
}

.label{
    color: #000;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.extras{
    display: flex;
    flex-direction: column;
    width: 43%;
    gap: 40px;
}

/* FOR FIVE */
.hiddenFont{
    display: none;
    color: white;
    font-size: 15px;
}

.instagram{
    background-image: linear-gradient(90deg, #ffffff, #ffffff);
    transition: color 0.3s cubic-bezier(.19,.32,.58,.97), background-image 0.3s cubic-bezier(.19,.32,.58,.97);
}

.instagram:hover{
    background-image: linear-gradient(90deg, #00dbde, #fc00ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.linkedin{
    transition: color 0.3s cubic-bezier(.19,.32,.58,.97);
}

.linkedin:hover{
    color: rgb(63, 105, 154);
}

/* Responsiveness  */

@media only screen and (max-width: 1250px) {
    .knowledge_solidarity{
        flex-direction: column;
    }
    .about_me_structure{
        flex-direction: column;
    }
}

@media only screen and (max-width: 995px) {
    .display-board p{
        font-size: 25px;
    }
}

@media only screen and (max-width: 981px) {
    .display-board p{
        font-size: 25px;
    }
    h1{
        font-size: 49px;
    }
}

@media only screen and (max-width: 800px) {
    .display-board p{
        font-size: 23px;
    }
}

@media only screen and (max-width: 790px) {
    .software_language_structure{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .softexpertise{
        justify-content: center;
        align-items: center;
    }
    .language{
        text-align: center;
    }
    .section-heading{
        font-size: 80px;
    }
    .sub-heading{
        font-size: 20px;
    }
    h1{
        font-size: 40px;
    }
}

@media only screen and (max-width: 765px) {
    .expertise_structure{
        flex-direction: column;
        row-gap: 30px;
        justify-content: center;
        align-items: center;
    }
    .section-heading{
        text-align: center;
    }
    .small-text{
        font-size: 12px;
    }
    /* .introductory-container{
        width: 500px;
    } */
    .my-image{
        height: 640px;
        left: 90px;
    }
}

@media only screen and (max-width: 733px) {
    .section-heading{
        font-size: 75px;
    }
    h2{
        font-size: 28px;
    }
    .display-board p{
        font-size: 21px;
    }
}

@media only screen and (max-width: 710px) {
    section{
        margin: 50px 0px;
    }
    .section-heading{
        font-size: 60px;
        margin: 0 0 50px;
    }
    h2{
        font-size: 23px;
    }
    .my-image{
        height: 550px;
        top: 40px;
        left: 50px;
    }
    h1{
        font-size: 30px;
    }
}

@media only screen and (max-width: 684px) {
    .display-board p{
        font-size: 20px;
    }
}

@media only screen and (max-width: 655px) {
    p{
        font-size: 15px;
    }
    section{
        padding: 0 120px;
        margin: 48px 0;
    }
    h2{
        font-size: 21px;
    }
    .sub-heading{
        font-size: 16px;
    }
}

@media only screen and (max-width: 618px) {
}

@media only screen and (max-width: 594px) {
    .display-board p{
        font-size: 17px;
    }
}

@media only screen and (max-width: 565px) {
    section{
        padding: 0 90px;
    }
    .display-board p{
        font-size: 19px;
    }
    .introductory-container{
        width: 100%;
        background-color: transparent;
    }
    .my-image{
        display: none;
    } 
    .one{
        padding: 30px;
    }
}

@media only screen and (max-width: 515px) {
    .section-heading{
        font-size: 54px;
    }
    section{
        padding: 0 70px;
    }
    h2{
        font-size: 19px;
    }
    .sub-heading{
        font-size: 15.5px;
    }
}

@media only screen and (max-width: 481px) {
    .display-board p{
        font-size: 17px;
    }
    .my-image{
        width: 390px;
        /* bottom: 26vh; */
    } 
}

@media only screen and (max-width: 440px) {
    .section-heading{
        font-size: 48px;
        margin: 0 0 40px;
    }
    section{
        padding: 0 65px;
        margin: 39px 0px;
    }
    p{
        font-size: 12px;
    }
    .sub-heading{
        font-size: 12.8px;
    }
    h2{
        font-size: 16.3px;
    }
    .full-width{
        gap: 17px;
    }
}

@media only screen and (max-width: 421px) {
    .display-board p{
        font-size: 15px;
    }
    .my-image{
        width: 340px;
    } 
}

@media only screen and (max-width: 395px) {
    .section-heading{
        font-size: 40px;
    }
    section{
        padding: 0 60px;
    }
    .display-board p{
        font-size: 14.5px;
    }
    .display-board{
        padding: 30px 30px;
    }
}

@media only screen and (max-width: 380px) {
    .full-width {
        gap: 15px;
    }
    .box-container {
        padding: 15px 15px;
    }
}

@media only screen and (max-width: 355px) {
    .my-image{
        width: 300px;
        /* bottom: 26vh; */
    } 
}

@media only screen and (max-width: 337px) {
    .section-heading{
        font-size: 35px;
    }
    .sub-heading{
        font-size: 10px;
    }
    h2{
        font-size: 15px;
    }
    section{
        padding: 0 45px;
        margin: 29px 0px;
    }
    p{
        font-size: 12px;
    }
    h1{
        font-size: 35px;
    }
    .primary-h2{
        font-size: 17px;
    }
    .my-image{
        display: none;
    } 
}

@media only screen and (max-width: 280px) {
    .section-heading{
        font-size: 30px;
    }
}